div.Container {
    padding: 80px 60px;
    background: radial-gradient(circle, #6D122F 0%, #8d344b 100%);
}

@media (max-width: 1000px) {
    div.Container {
        padding: 70px 30px;
    }

    div.Row {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

div.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    /* background: red; */
}

div.Column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}

div.Row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

a.Link {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
}

a.Link:hover {
    color: #ff9c00;
    transition: 200ms ease-in;
}

p.Title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
}

i.Icon {
    font-size: 18px;
    margin-right: 16px;
}